* {
    border: none;
    border-radius: 50px;
    font-family: "SF Pro Rounded", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
    font-weight: 700;
    min-height: 0;
		margin: 0;
		padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
		font-weight: 700;
}

#workspaces button {
    padding: 0 15px;
		margin: 0 4px;
    background: #343434;
    color: #90D5FF;
		border-radius: 50px;
		font-weight: 700;
}

#workspaces button.active{
    min-width: 20px;
		background: #343434;
		color: #90D5FF;
		border-radius: 50px;
	  font-weight: 700;
}

#clock {
	  background-color: #343434;
    color: #89B482;
		font-weight: 700;
		padding: 0 15px;
		margin: 0 4px;
		border-radius: 50px;
}

#battery {
    background-color: #343434;
    color: #D4BE98;
		font-weight: 700;
		padding: 0 15px;
		margin: 0 4px;
		border-radius: 50px;
}

#pulseaudio {
    background-color: #343434;
    color: #D8A657;
		font-weight: 700;
		padding: 0 15px;
		margin: 0 4px;
		border-radius: 50px;
}

#network {
    background-color: #343434;
    color: #D3869B;
		font-weight: 700;
		padding: 0 15px;
		margin: 0 4px;
		border-radius: 50px;
}

#tray {
    padding: 0 15px;
    background-color: #343434;
    color: #A89984;
		border-radius: 50px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #343434;
    color: #A89984;
		border-radius: 50px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #343434;
    color: #A89984;
		border-radius: 50px;
}

