* {
    border: none;
    border-radius: 70;
    font-family: "SF Pro Rounded", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
    font-weight: 700;
    min-height: 0;
		margin: 0;
		padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
		font-weight: 700;
}

#workspaces button {
    padding: 0 15px;
		margin: 0 4px;
    background: #343434;
    color: white;
		border-radius: 70px;
		font-weight: 700;
}

#workspaces button.active{
    min-width: 20px;
		background: #343434;
		color: white;
		border-radius: 70px;
	  font-weight: 700;
}

#clock {
	  background-color: #343434;
    color: #458588;
		font-weight: 700;
		padding: 0 15px;
		margin: 0 4px;
		border-radius: 70px;
}

#battery {
    background-color: #343434;
    color: #A9B665;
		font-weight: 700;
		padding: 0 15px;
		margin: 0 4px;
		border-radius: 70px;
}

#pulseaudio {
    background-color: #343434;
    color: #E78A4E;
		font-weight: 700;
		padding: 0 15px;
		margin: 0 4px;
		border-radius: 70px;
}

#network {
    background-color: #343434;
    color: #D3869B;
		font-weight: 700;
		padding: 0 15px;
		margin: 0 4px;
		border-radius: 70px;
}
